term2/lection6/n8n-workflows/workflow-rag-ingest.json
{
  "name": "RAG Document Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ingest",
      "name": "Webhook Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rag-ingest-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Валидация и подготовка данных\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const content = item.json.body?.content || item.json.content;\n  const metadata = item.json.body?.metadata || item.json.metadata || {};\n  \n  if (!content || content.trim().length === 0) {\n    throw new Error('Content is required and cannot be empty');\n  }\n  \n  // Добавляем timestamp к метаданным\n  metadata.ingested_at = new Date().toISOString();\n  metadata.workflow = 'n8n-ingest';\n  \n  results.push({\n    json: {\n      content: content.trim(),\n      metadata: metadata\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "code-validate",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rag-service:8000/ingest",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "metadata",
              "value": "={{ $json.metadata }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "http-ingest",
      "name": "Ingest to RAG",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, document_id: $json.document_id, message: $json.message } }}",
        "options": {
          "responseCode": 201,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-ingest",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Ingest": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "Ingest to RAG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingest to RAG": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "2",
  "meta": {
    "instanceId": "lection6-rag-ingest"
  },
  "tags": []
}

