term2/lection06/n8n-workflows/workflow-rag-query.json
{
  "name": "RAG Query via Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-query",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "rag-query-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://rag-service:8000/query",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "question",
              "value": "={{ $json.body.question }}"
            },
            {
              "name": "top_k",
              "value": "={{ $json.body.top_k || 5 }}"
            },
            {
              "name": "use_graph",
              "value": "={{ $json.body.use_graph !== false }}"
            },
            {
              "name": "similarity_threshold",
              "value": "={{ $json.body.similarity_threshold || 0.7 }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-request-node",
      "name": "Query RAG Service",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Query RAG Service",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query RAG Service": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "id": "1",
  "meta": {
    "instanceId": "lection6-rag-workflow"
  },
  "tags": []
}

