term2/lection07/Lection 7 - Vector Search Query (4).json
{
  "name": "Lection 7 - Vector Search Query",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        160,
        832
      ],
      "id": "911c8d2b-2a33-4fd8-876f-cab8bafb45e2",
      "name": "When chat message received",
      "webhookId": "d1c74e7d-8357-4f3d-8ebd-b0de5fbdcc0b"
    },
    {
      "parameters": {
        "mode": "load",
        "qdrantCollection": {
          "__rl": true,
          "value": "lecture_chunks_3072",
          "mode": "list",
          "cachedResultName": "lecture_chunks_3072"
        },
        "prompt": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        368,
        832
      ],
      "id": "f32b8a51-dcb9-415e-aa80-a7c42086ec0a",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "U4LfIZ2XojQED88y",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        272,
        1024
      ],
      "id": "06d278de-9f0c-46f1-81ec-c058fc64f309",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "WJC3y6oapdWpAazJ",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.document.pageContent }}",
        "waitUserReply": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        672,
        832
      ],
      "id": "5c739bfd-07ef-4cd0-8fb5-97e48d6591cb",
      "name": "Respond to Chat",
      "alwaysOutputData": false,
      "executeOnce": false,
      "retryOnFail": false
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "14e62644-a9be-4ad0-93b9-20646373c1b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ab7e7322f1f333bbe900bc0500389672242da86983f461f344793e261fb98977"
  },
  "id": "XiA2COGj6nTUWbUS",
  "tags": [
    {
      "createdAt": "2025-10-28T11:13:51.053Z",
      "updatedAt": "2025-10-28T11:13:51.053Z",
      "id": "MZ4EKSIr1j7jvDjL",
      "name": "lection7"
    }
  ]
}